# Assignment #8 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2024</br>

Name: Louise Ramos
</br>
Date: March 21, 2024
<br>
<br>
**At this time in the semester:** <br>
--We have explored a dataset. <br>
--We have cleaned our dataset. <br>
--We created a Github account with a repository for this class and included a Metadata file about our data. <br>
--We introduced general SQL syntax, queries, and applications in R.<br>
--Created our own database from scratch in R using libraries RMariaDB and RSQLite <br>
--Populated our databases we created from scratch
--Created a visual enhanced entity relationship diagram for our database
<br>

Now we will **JOIN** our knowledge and tables to answer questions about our dataset! We will practice joining tables and understand the importance of using different commands.<br>

JOIN statements are used to combine results from two or more tables based on a related column between them.<br>

Review the powerpoint and readings specified on Blackboard.<br>

In the event your database does not meet the requirements below to answer the question, please use the database provided in Assignment #4 and #5. Remember to credit your data source.

We used two R packages to create two separate databases for practice in our previous assignment. Feel free to use your preferred package for the exploration below.<br>

Follow the instructions below to complete the assignment. Be sure to comment **all** code and answer **all** questions in markdown for full credit.<br>

**Data origin:**

R Package for joining tables:__________________

In [8]:
#Importing libaries 
import pandas as pd 
import mysql.connector
import sqlite3
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, Float, String, Date, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [9]:
#Connecting to the database 
config = {
    'user': 'root',
    'password': '1734680nN',
    'host': 'localhost',  # or your host address
    'port': 3306,          # or your port number
    'database': 'police_shootings'
}

# Establishing the connection
conn = mysql.connector.connect(**config)

# Making a cursor object to use SQL queries
cursor = conn.cursor()

In [10]:
# Making the connection
connection_uri = "mysql+mysqlconnector://root:1734680nN@localhost:3306/police_shootings"

# Creating the engine
engine = create_engine(connection_uri)

# Creating MetaData object
metadata = MetaData()

metadata.reflect(engine)

# Getting the table names
table_names = metadata.tables.keys()

# Printing the table names
print("Table names:")
for table_name in table_names:
    print(table_name)

Table names:
Incident
Person
Location

In [11]:
#Complete a quick query to ensure your data is available on the server.
# querying the unique things in the flee column in the incident table
test = """
SELECT COUNT(DISTINCT flee) AS num_unique_flee, flee
FROM Incident
GROUP BY flee;
"""

# Executing the query
result = engine.execute(test)

# Getting the rows
rows = result.fetchall()

# Showing the results
print("unique values")
for row in rows:
    print(row)

unique values
(0, None)
(1, 'Car')
(1, 'Foot')
(1, 'Not fleeing')
(1, 'Other')

In [12]:
# Get the structure of the 'Incident' table
cursor.execute("DESCRIBE Incident")
incident_structure = cursor.fetchall()
print("Structure of the 'Incident' table:")
for column in incident_structure:
    print(column)

# Get the structure of the 'Location' table
cursor.execute("DESCRIBE Location")
location_structure = cursor.fetchall()
print("\nStructure of the 'Location' table:")
for column in location_structure:
    print(column)

Structure of the 'Incident' table:
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('person_id', 'int', 'YES', 'MUL', None, '')
('location_id', 'int', 'YES', 'MUL', None, '')
('date', 'date', 'YES', '', None, '')
('manner_of_death', 'varchar(255)', 'YES', '', None, '')
('armed', 'varchar(255)', 'YES', '', None, '')
('signs_of_mental_illness', 'tinyint(1)', 'YES', '', None, '')
('threat_level', 'varchar(50)', 'YES', '', None, '')
('flee', 'varchar(50)', 'YES', '', None, '')
('body_camera', 'tinyint(1)', 'YES', '', None, '')

Structure of the 'Location' table:
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('city', 'varchar(100)', 'YES', '', None, '')
('state', 'varchar(2)', 'YES', '', None, '')
('longitude', 'decimal(9,6)', 'YES', '', None, '')
('latitude', 'decimal(8,6)', 'YES', '', None, '')
('is_geocoding_exact', 'tinyint(1)', 'YES', '', None, '')

#### INNER JOIN (or JOIN)
Display matching records from TWO tables! Choose to combine two tables using inner join. Write your question you are answering with your data query. <br>
<br>
**Example Question:** who was involved in Washington state?
<br>
**What tables are we joining?** Location and Person

In [18]:
    
# Establishing the connection
conn = mysql.connector.connect(**config)

# Making a cursor object
cursor = conn.cursor()

# Inner Join between Location and Person
cursor.execute("""
    SELECT *
    FROM Location
    JOIN Person ON Location.id = Person.id
    WHERE Location.state = 'WA'
    LIMIT 5
""")
inner_join_location_person_result = cursor.fetchall()

# Printing Inner Join Result
print("WA:")
for row in inner_join_location_person_result:
    print(row)

WA:
(1, 'Shelton', 'WA', Decimal('-123.122000'), Decimal('47.247000'), 1, 1, 'Tim Elliot', 53, 'M', 'A')
(103, 'Pasco', 'WA', Decimal('-119.101000'), Decimal('46.228000'), 1, 103, 'Antonio Zambrano-Montes', 35, 'M', 'H')
(210, 'Sumas', 'WA', Decimal('-122.273000'), Decimal('49.000000'), 1, 210, 'Jamison  Childress', 20, 'M', 'W')
(296, 'Lakewood', 'WA', Decimal('-122.485000'), Decimal('47.160000'), 1, 296, 'Daniel Covarrubias', 37, 'M', 'N')
(336, 'Kennewick', 'WA', Decimal('-119.168000'), Decimal('46.202000'), 1, 336, 'Roark Cook', 36, 'M', 'W')

#### INNER JOIN (or JOIN)
Display matching records from TWO tables! Choose to combine two tables using inner join. Write your question you are answering with your data query. <br>
<br>
**Research Question:** Incidents with people who were 20 when the shooting happened?
<br>
**What tables are we joining?** Person and Incident

In [28]:

# Inner Join between Location and Person
cursor.execute("""
    SELECT *
    FROM Person
    JOIN Incident ON Person.id = Incident.id
    WHERE Person.age = '20'
    LIMIT 5
""")
inner_join_location_person_result = cursor.fetchall()

# Printing Inner Join Result
print("Results:")
for row in inner_join_location_person_result:
    print(row)

Results:
(124, 'Janisha Fonville', 20, 'F', 'B', 124, None, None, datetime.date(2015, 2, 18), 'shot', 'knife', 1, 'other', 'Not fleeing', 0)
(157, 'Shaquille Barrow', 20, 'M', 'B', 157, None, None, datetime.date(2015, 3, 2), 'shot', 'gun', 0, 'other', 'Foot', 0)
(201, 'Eugene Smith', 20, 'M', 'W', 201, None, None, datetime.date(2015, 3, 17), 'shot', 'gun', 1, 'attack', 'Not fleeing', 0)
(210, 'Jamison  Childress', 20, 'M', 'W', 210, None, None, datetime.date(2015, 3, 19), 'shot', 'unarmed', 1, 'attack', 'Not fleeing', 0)
(311, 'Todd Jamal Dye', 20, 'M', 'B', 311, None, None, datetime.date(2015, 4, 24), 'shot', 'gun', 0, 'attack', 'Foot', 1)

**LEFT JOIN**
<br>
Returns ALL records from the left table and matching records from the right table. Write your question you are answering with your data query. 
<br><br>
**Research Question:** What were the types of incidents on different days?
<br>
**What tables are we joining?**  Incident and Location

In [29]:
# Querying for Incident and Location
l1_query = """
SELECT i.id, DATE_FORMAT(i.date, '%Y-%m-%d') AS formatted_date, i.manner_of_death, i.armed, i.signs_of_mental_illness
FROM Incident AS i
LEFT JOIN Location AS l ON i.location_id = l.id
LIMIT 5;
"""

# run the SQL query
cursor.execute(l1_query)

# print the results
results = cursor.fetchall()
for row in results:
    print(row)

(1, '2015-01-02', 'shot', 'gun', 1)
(2, '2015-01-02', 'shot', 'gun', 0)
(3, '2015-01-03', 'shot and Tasered', 'unarmed', 0)
(4, '2015-01-04', 'shot', 'toy weapon', 1)
(5, '2015-01-04', 'shot', 'nail gun', 0)

**LEFT JOIN**
<br>
Returns ALL records from the left table and matching records from the right table. Write your question you are answering with your data query. 
<br><br>
**Research Question:** Who was in california when it happened?
<br>
**What tables are we joining?** Location and Person

In [30]:
# Left Join between Person and Location tables to get names from people in CA
cursor.execute("""
    SELECT Person.name, Location.*
    FROM Person
    LEFT JOIN Location ON Person.id = Location.id
    WHERE Location.state = 'CA'
    LIMIT 5
""")
people_in_ca = cursor.fetchall()

# Print the results
print("Names of people from California:")
for row in people_in_ca:
    print(row)

Names of people from California:
('Matthew Hoffman', 4, 'San Francisco', 'CA', Decimal('-122.422000'), Decimal('37.763000'), 1)
('Patrick Wetter', 11, 'Stockton', 'CA', Decimal('-121.299000'), Decimal('37.930000'), 1)
('Brian  Barbosa', 23, 'South Gate', 'CA', Decimal('-118.183000'), Decimal('33.951000'), 1)
('Jose Ceja', 36, 'Fairfield', 'CA', Decimal('-121.997000'), Decimal('38.266000'), 1)
('Zaki Shinwary', 39, 'Fremont', 'CA', Decimal('-122.060000'), Decimal('37.588000'), 1)

**RIGHT JOIN**
<br>
Returns ALL records from the right table and matching records from the left table. Write your question you are answering with your data query. <br>
<br>
**Research Question:** Where did a person live?
<br>
**What tables are we joining?** Person and Location

In [37]:
# Establishing the connection 
conn = mysql.connector.connect(**config)

# Making a cursor 
cursor = conn.cursor()

# Inner Join between Person and Location
cursor.execute("""
    SELECT Person.name, Location.city
    FROM Person
    INNER JOIN Location ON Person.id = Location.id
    LIMIT 5
""")
person_location_city = cursor.fetchall()

# Printing the results
print("Person's Name and Location City:")
for row in person_location_city:
    print(row)

Person's Name and Location City:
('Tim Elliot', 'Shelton')
('Lewis Lee Lembke', 'Aloha')
('John Paul Quintero', 'Wichita')
('Matthew Hoffman', 'San Francisco')
('Michael Rodriguez', 'Evans')

**RIGHT JOIN**
<br>
Returns ALL records from the right table and matching records from the left table. Write your question you are answering with your data query. <br>
<br>
**Research Question:** What are the details of incidents by person?
<br>
**What tables are we joining?**  Person and Incident

In [39]:
# Fetching remaining results to clear the cursor
cursor.fetchall()

# Query for the right join between Person and Incident
rj_pi = """
SELECT *
FROM Person AS p
RIGHT JOIN Incident AS i ON p.id = i.Person_id
"""

# Execute the SQL query
cursor.execute(rj_pi)

In [40]:

# printing the result
right_join2_result = cursor.fetchmany(size=5)
for row in right_join2_result:
    print(row)

(None, None, None, None, None, 1, None, None, datetime.date(2015, 1, 2), 'shot', 'gun', 1, 'attack', 'Not fleeing', 0)
(None, None, None, None, None, 2, None, None, datetime.date(2015, 1, 2), 'shot', 'gun', 0, 'attack', 'Not fleeing', 0)
(None, None, None, None, None, 3, None, None, datetime.date(2015, 1, 3), 'shot and Tasered', 'unarmed', 0, 'other', 'Not fleeing', 0)
(None, None, None, None, None, 4, None, None, datetime.date(2015, 1, 4), 'shot', 'toy weapon', 1, 'attack', 'Not fleeing', 0)
(None, None, None, None, None, 5, None, None, datetime.date(2015, 1, 4), 'shot', 'nail gun', 0, 'attack', 'Not fleeing', 0)

**FULL JOIN** or UNION
<br>
Can answer multiple objectives at the same time! Not recommended for large databases. Results may slow your machine or quit before finishing. Write your question you are answering with your data query. You can write your code to test it out, but it is okay if it does not run properly due to memory.<br>
<br>
**Question:** Where was a person at when the incident happened?
<br>
**What tables are we joining?** Location and Person

In [43]:
# Establishing the connection 
conn = mysql.connector.connect(**config)

# Making a cursor object to use SQL queries
cursor = conn.cursor()

# Left Join between Person and Location tables
cursor.execute("""
    SELECT Person.*, Location.*
    FROM person AS Person
    LEFT JOIN location AS Location ON Person.id = Location.id

    UNION

    SELECT Person.*, Location.*
    FROM person AS Person
    RIGHT JOIN location AS Location ON Person.id = Location.id
    WHERE Person.id IS NULL
    LIMIT 5
""")
full_join_person_location = cursor.fetchall()

# Printing the results
print("Full Join between Person and Location tables:")
for row in full_join_person_location:
    print(row)

Full Join between Person and Location tables:
(1, 'Tim Elliot', 53, 'M', 'A', 1, 'Shelton', 'WA', Decimal('-123.122000'), Decimal('47.247000'), 1)
(2, 'Lewis Lee Lembke', 47, 'M', 'W', 2, 'Aloha', 'OR', Decimal('-122.892000'), Decimal('45.487000'), 1)
(3, 'John Paul Quintero', 23, 'M', 'H', 3, 'Wichita', 'KS', Decimal('-97.281000'), Decimal('37.695000'), 1)
(4, 'Matthew Hoffman', 32, 'M', 'W', 4, 'San Francisco', 'CA', Decimal('-122.422000'), Decimal('37.763000'), 1)
(5, 'Michael Rodriguez', 39, 'M', 'H', 5, 'Evans', 'CO', Decimal('-104.692000'), Decimal('40.384000'), 1)

In [ ]:
#Close the database connection :) 
cursor.close()
conn.close()

**STOP**<br>
Before you submit, did you comment all your code?<br>
Did you answer all of the questions in the markdown cells?<br>
Did you rename the file and write your name at the top of the .pynb?