# Final Project - DSSA-5102

Instructor: Melissa Laurino</br>

Name: Louise Ramos, Hamza Khan
</br>
Date: April 25, 2024

Dataset name:</b> Student Mental health<br>
Download link: https://www.kaggle.com/datasets/shariful07/student-mental-health

Dataset name:</b> Medical Student Mental Health
<br>
Download link: https://www.kaggle.com/datasets/thedevastator/medical-student-mental-health

Dataset name:</b> Student Stress Factors: A Comprehensive Analysis
<br>
Download link:https://www.kaggle.com/datasets/rxnach/student-stress-factors-a-comprehensive-analysis

In [137]:
# Importing library
import pandas as pd
import pymysql
import mysql.connector

In [138]:
# Reading in the data

mental_health = pd.read_csv("Student Mental health.csv")

stress_student = pd.read_csv("StressLevelDataset.csv")

medical_mental = pd.read_csv("Data Carrard et al. 2022 MedTeach.csv")

In [139]:
#Looking at the data 
mental_health.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [140]:
#Looking at the data 
medical_mental.head()

,id,age,year,sex,glang,part,job,stud_h,health,psyt,jspe,qcae_cog,qcae_aff,amsp,erec_mean,cesd,stai_t,mbi_ex,mbi_cy,mbi_ea
0,2,18,1,1,120,1,0,56,3,0,88,62,27,17,0.738095,34,61,17,13,20
1,4,26,4,1,1,1,0,20,4,0,109,55,37,22,0.690476,7,33,14,11,26
2,9,21,3,2,1,0,0,36,3,0,106,64,39,17,0.690476,25,73,24,7,23
3,10,21,2,2,1,0,1,51,5,0,101,52,33,18,0.833333,17,48,16,10,21
4,13,21,3,1,1,1,0,22,4,0,102,58,28,21,0.690476,14,46,22,14,23

In [141]:
#Looking at the data 
stress_student.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2,3,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1,4,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2,3,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1,4,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1,5,0,5,1

In [142]:
# Counting missing values
missing_count_mental = mental_health.isna().sum()

missing_count_medical = medical_mental.isna().sum()

missing_count_stress = stress_student.isna().sum()

# Printing the count
print(f"{missing_count_mental} \n") 
print(f"{missing_count_medical} \n")
print(missing_count_stress)

Timestamp                                       0
Choose your gender                              0
Age                                             1
What is your course?                            0
Your current year of Study                      0
What is your CGPA?                              0
Marital status                                  0
Do you have Depression?                         0
Do you have Anxiety?                            0
Do you have Panic attack?                       0
Did you seek any specialist for a treatment?    0
dtype: int64

id           0
age          0
year         0
sex          0
glang        0
part         0
job          0
stud_h       0
health       0
psyt         0
jspe         0
qcae_cog     0
qcae_aff     0
amsp         0
erec_mean    0
cesd         0
stai_t       0
mbi_ex       0
mbi_cy       0
mbi_ea       0
dtype: int64

anxiety_level                   0
self_esteem                     0
mental_health_history           0
depression                      0
headache                        0
blood_pressure                  0
sleep_quality                   0
breathing_problem               0
noise_level                     0
living_conditions               0
safety                          0
basic_needs                     0
academic_performance            0
study_load                      0
teacher_student_relationship    0
future_career_concerns          0
social_support                  0
peer_pressure                   0
extracurricular_activities      0
bullying                        0
stress_level                    0
dtype: int64

In [143]:
#Dropping the missing value in the first dataset
mental_health.dropna(axis=0, inplace=True)

In [144]:
# Checking type of data in column
frame_types_mh = mental_health.dtypes
frame_types_mm = medical_mental.dtypes
frame_types_ss = stress_student.dtypes

print(f"{frame_types_mh} \n") 
print(f"{frame_types_mm} \n")
print(frame_types_ss)

Timestamp                                        object
Choose your gender                               object
Age                                             float64
What is your course?                             object
Your current year of Study                       object
What is your CGPA?                               object
Marital status                                   object
Do you have Depression?                          object
Do you have Anxiety?                             object
Do you have Panic attack?                        object
Did you seek any specialist for a treatment?     object
dtype: object

id             int64
age            int64
year           int64
sex            int64
glang          int64
part           int64
job            int64
stud_h         int64
health         int64
psyt           int64
jspe           int64
qcae_cog       int64
qcae_aff       int64
amsp           int64
erec_mean    float64
cesd           int64
stai_t         int64
mbi_ex         int64
mbi_cy         int64
mbi_ea         int64
dtype: object

anxiety_level                   int64
self_esteem                     int64
mental_health_history           int64
depression                      int64
headache                        int64
blood_pressure                  int64
sleep_quality                   int64
breathing_problem               int64
noise_level                     int64
living_conditions               int64
safety                          int64
basic_needs                     int64
academic_performance            int64
study_load                      int64
teacher_student_relationship    int64
future_career_concerns          int64
social_support                  int64
peer_pressure                   int64
extracurricular_activities      int64
bullying                        int64
stress_level                    int64
dtype: object

In [145]:
#Adding an ID column to the two datasets that dont have one

mental_health['id'] = range(1, len(mental_health) + 1)

stress_student['id'] = range(1, len(stress_student) + 1)

In [146]:
# Changing old column names to new ones
new_column_mh = {
    'Timestamp': 'timestamp',
    'Choose your gender': 'gender',
    'Age': 'age',
    'What is your course?': 'course',
    'Your current year of Study': 'current_year',
    'What is your CGPA?': 'cgpa',
    'Marital status': 'marital_status',
    'Do you have Depression?': 'depression',
    'Do you have Anxiety?': 'anxiety',
    'Do you have Panic attack?': 'panic_attack',
    'Did you seek any specialist for a treatment?': 'specialist_treatment'
}

# Renaming columns
mental_health.rename(columns=new_column_mh, inplace=True)

# Showing the data with new names
mental_health.head()

,timestamp,gender,age,course,current_year,cgpa,marital_status,depression,anxiety,panic_attack,specialist_treatment,id
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No,1
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No,2
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No,3
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No,4
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No,5

In [147]:
# Check the number of rows in the DataFrame
num_r_mh = len(mental_health)
num_r_mm = len(medical_mental)
num_r_ss = len(stress_student)
print("Number of rows mental health:", num_r_mh)
print("Number of rows medical mental:", num_r_mm)
print("Number of rows stress student:", num_r_ss)

Number of rows mental health: 100
Number of rows medical mental: 886
Number of rows stress student: 1100

In [148]:
#Save the newly cleaned dataset as a NEW file:
mental_health.to_csv('mental_health_clean.csv', index=False)
medical_mental.to_csv('medical_mental_clean.csv', index=False)
stress_student.to_csv('stress_student_clean.csv', index=False)

# Making a Dataframe and adding tables

In [149]:
# Importing libraries
import mysql.connector
import sqlite3

In [150]:
# Reading the clean data 
dfmh = pd.read_csv('mental_health_clean.csv')

dfmm = pd.read_csv('medical_mental_clean.csv')

dfss = pd.read_csv('stress_student_clean.csv')

In [151]:
# Showing the first few rows of the Data
dfmh.head()

,timestamp,gender,age,course,current_year,cgpa,marital_status,depression,anxiety,panic_attack,specialist_treatment,id
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No,1
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No,2
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No,3
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No,4
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No,5

In [152]:
# Showing the first few rows of the Data
dfmm.head()

,id,age,year,sex,glang,part,job,stud_h,health,psyt,jspe,qcae_cog,qcae_aff,amsp,erec_mean,cesd,stai_t,mbi_ex,mbi_cy,mbi_ea
0,2,18,1,1,120,1,0,56,3,0,88,62,27,17,0.738095,34,61,17,13,20
1,4,26,4,1,1,1,0,20,4,0,109,55,37,22,0.690476,7,33,14,11,26
2,9,21,3,2,1,0,0,36,3,0,106,64,39,17,0.690476,25,73,24,7,23
3,10,21,2,2,1,0,1,51,5,0,101,52,33,18,0.833333,17,48,16,10,21
4,13,21,3,1,1,1,0,22,4,0,102,58,28,21,0.690476,14,46,22,14,23

In [153]:
# Showing the first few rows of the Data
dfss.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level,id
0,14,20,0,11,2,1,2,4,2,3,...,3,2,3,3,2,3,3,2,1,1
1,15,8,1,15,5,3,1,4,3,1,...,1,4,1,5,1,4,5,5,2,2
2,12,18,1,14,2,1,2,2,2,2,...,2,3,3,2,2,3,2,2,1,3
3,16,12,1,15,4,3,1,3,4,2,...,2,4,1,4,1,4,4,5,2,4
4,16,28,0,7,2,3,5,1,3,2,...,4,3,1,2,1,5,0,5,1,5

In [154]:
# Checking type of data in column
frame_mh = dfmh.dtypes
frame_mm = dfmm.dtypes
frame_ss = dfss.dtypes

print(f"{frame_mh} \n") 
print(f"{frame_mm} \n")
print(frame_ss)

timestamp                object
gender                   object
age                     float64
course                   object
current_year             object
cgpa                     object
marital_status           object
depression               object
anxiety                  object
panic_attack             object
specialist_treatment     object
id                        int64
dtype: object

id             int64
age            int64
year           int64
sex            int64
glang          int64
part           int64
job            int64
stud_h         int64
health         int64
psyt           int64
jspe           int64
qcae_cog       int64
qcae_aff       int64
amsp           int64
erec_mean    float64
cesd           int64
stai_t         int64
mbi_ex         int64
mbi_cy         int64
mbi_ea         int64
dtype: object

anxiety_level                   int64
self_esteem                     int64
mental_health_history           int64
depression                      int64
headache                        int64
blood_pressure                  int64
sleep_quality                   int64
breathing_problem               int64
noise_level                     int64
living_conditions               int64
safety                          int64
basic_needs                     int64
academic_performance            int64
study_load                      int64
teacher_student_relationship    int64
future_career_concerns          int64
social_support                  int64
peer_pressure                   int64
extracurricular_activities      int64
bullying                        int64
stress_level                    int64
id                              int64
dtype: object

In [155]:
# Connecting to mysql database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1734680nN" # Change to match yours
)

# Creating a cursor
mycursor = mydb.cursor()

# Creating the database if it doesn't exist
mycursor.execute("CREATE DATABASE IF NOT EXISTS Student_Mental_Health")

# Closing the cursor and connection
mycursor.close()
mydb.close()

 # Creating first table cluster (student)

In [156]:
# Reconnecting to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1734680nN",
  database="Student_Mental_Health"
)

# New cursor
mycursor = mydb.cursor()

# Creating a student table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS student (
  student_id INT AUTO_INCREMENT PRIMARY KEY,
  gender VARCHAR(255),
  age FLOAT,
  marital_status VARCHAR(255)
)
""")

# Creating academics table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS academics (
  academic_id INT AUTO_INCREMENT PRIMARY KEY,
  student_id INT,
  course VARCHAR(255),
  current_year VARCHAR(255),
  cgpa VARCHAR(255),  -- Consider using VARCHAR instead of FLOAT to match the input data
  FOREIGN KEY (student_id) REFERENCES student(student_id)
)
""")

# Creating mental_health table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS mental_health (
  health_id INT AUTO_INCREMENT PRIMARY KEY,
  student_id INT,
  depression VARCHAR(3),
  anxiety VARCHAR(3),
  panic_attack VARCHAR(3),
  specialist_treatment VARCHAR(3),
  FOREIGN KEY (student_id) REFERENCES student(student_id)
)
""")

# Committing the changes
mydb.commit()

In [157]:
# Populating the tables
# Connecting to my database
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='1734680nN',
                       db='Student_Mental_Health')

# Inserting data into the student table
student_data = dfmh[['gender', 'age', 'marital_status']].values.tolist()
student_query = "INSERT INTO student (gender, age, marital_status) VALUES (%s, %s, %s)"
with conn.cursor() as cursor:
    cursor.executemany(student_query, student_data)
with conn.cursor() as cursor:
    cursor.execute("SELECT student_id FROM student")
    student_ids = [row[0] for row in cursor.fetchall()]

# Inserting data into the academics table
academics_data = dfmh[['course', 'current_year', 'cgpa']].values.tolist()
academics_query = "INSERT INTO academics (course, current_year, cgpa, student_id) VALUES (%s, %s, %s, %s)"
academics_data_with_id = [(data + [student_id]) for data, student_id in zip(academics_data, student_ids)]
with conn.cursor() as cursor:
    cursor.executemany(academics_query, academics_data_with_id)

# Inserting the data into the mental_health table
mental_health_data = dfmh[['depression', 'anxiety', 'panic_attack', 'specialist_treatment']].values.tolist()
mental_health_query = "INSERT INTO mental_health (depression, anxiety, panic_attack, specialist_treatment, student_id) VALUES (%s, %s, %s, %s, %s)"
mental_health_data_with_id = [(data + [student_id]) for data, student_id in zip(mental_health_data, student_ids)]
with conn.cursor() as cursor:
    cursor.executemany(mental_health_query, mental_health_data_with_id)

In [158]:
# Testing the tables
# Function to test if populated properly
def execute_query(query):
    with conn.cursor() as cursor:
        cursor.execute(query)
        result = cursor.fetchall()
    return result

# Testing if the student table was populated
student_query = "SELECT * FROM student"
student_data = execute_query(student_query)
print("Student table data:")
print(pd.DataFrame(student_data))

# Testing to see if the academics table was populated
academics_query = "SELECT * FROM academics"
academics_data = execute_query(academics_query)
print("\nAcademics table data:")
print(pd.DataFrame(academics_data))

# Testing the mental_health table
mental_health_query = "SELECT * FROM mental_health"
mental_health_data = execute_query(mental_health_query)
print("\nMental Health table data:")
print(pd.DataFrame(mental_health_data))


# Commit changes and close connection
conn.commit()
conn.close()

Student table data:
      0       1     2    3
0     1  Female  18.0   No
1     2    Male  21.0   No
2     3    Male  19.0   No
3     4  Female  22.0  Yes
4     5    Male  23.0   No
..  ...     ...   ...  ...
95   96  Female  21.0   No
96   97    Male  18.0   No
97   98  Female  19.0  Yes
98   99  Female  23.0   No
99  100    Male  20.0   No

[100 rows x 4 columns]

Academics table data:
      0    1                   2       3            4
0     1    1         Engineering  year 1  3.00 - 3.49
1     2    2   Islamic education  year 2  3.00 - 3.49
2     3    3                 BIT  Year 1  3.00 - 3.49
3     4    4                Laws  year 3  3.00 - 3.49
4     5    5        Mathemathics  year 4  3.00 - 3.49
..  ...  ...                 ...     ...          ...
95   96   96                 BCS  year 1  3.50 - 4.00
96   97   97         Engineering  Year 2  3.00 - 3.49
97   98   98            Nursing   Year 3  3.50 - 4.00
98   99   99    Pendidikan Islam  year 4  3.50 - 4.00
99  100  100  Biomedical science  Year 2  3.00 - 3.49

[100 rows x 5 columns]

Mental Health table data:
      0    1    2    3    4   5
0     1    1  Yes   No  Yes  No
1     2    2   No  Yes   No  No
2     3    3  Yes  Yes  Yes  No
3     4    4  Yes   No   No  No
4     5    5   No   No   No  No
..  ...  ...  ...  ...  ...  ..
95   96   96   No  Yes   No  No
96   97   97  Yes  Yes   No  No
97   98   98  Yes   No  Yes  No
98   99   99   No   No   No  No
99  100  100   No   No   No  No

[100 rows x 6 columns]

# Creating second table cluster (medical_student)

In [159]:

# Reconnecting to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1734680nN",
  database="Student_Mental_Health"
)

# Creating a cursor
mycursor = mydb.cursor()

# Creating medical_student table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS medical_student (
  id INT AUTO_INCREMENT PRIMARY KEY,
  age INT,
  year VARCHAR(255),
  sex VARCHAR(255),
  glang VARCHAR(255),
  part VARCHAR(255),
  job VARCHAR(255),
  stud_h VARCHAR(255),
  jspe VARCHAR(255),
  health VARCHAR(255)
)
""")

# Creating test_scores table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS test_scores (
  id INT AUTO_INCREMENT PRIMARY KEY,
  medical_student_id INT,
  psyt FLOAT,
  qcae_cog FLOAT,
  qcae_aff FLOAT,
  amsp FLOAT,
  erec_mean FLOAT,
  cesd FLOAT,
  stai_t FLOAT,
  FOREIGN KEY (medical_student_id) REFERENCES medical_student(id)
)
""")

# Creating maslach_burnout_inventory table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS maslach_burnout_inventory (
  id INT AUTO_INCREMENT PRIMARY KEY,
  medical_student_id INT,
  mbi_ex FLOAT,
  mbi_cy FLOAT,
  mbi_ea FLOAT,
  FOREIGN KEY (medical_student_id) REFERENCES medical_student(id)
)
""")

# Committing the changes
mydb.commit()

In [160]:
# Populating the medical student tables
# Connecting to my database
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='1734680nN',
                       db='Student_Mental_Health')


# Inserting data into the medical_student table
medical_student_data = dfmm[['age', 'year', 'sex', 'glang', 'part', 'job', 'stud_h', 'health']].values.tolist()
medical_student_query = "INSERT INTO medical_student (age, year, sex, glang, part, job, stud_h, health) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
with conn.cursor() as cursor:
    cursor.executemany(medical_student_query, medical_student_data)
with conn.cursor() as cursor:
    cursor.execute("SELECT id FROM medical_student")
    medical_student_ids = [row[0] for row in cursor.fetchall()]

# Inserting data into the test_scores table
test_scores_data = dfmm[['psyt', 'qcae_cog', 'qcae_aff', 'amsp', 'erec_mean', 'cesd', 'stai_t']].values.tolist()
test_scores_query = "INSERT INTO test_scores (psyt, qcae_cog, qcae_aff, amsp, erec_mean, cesd, stai_t, medical_student_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
test_scores_data_with_id = [(data + [student_id]) for data, student_id in zip(test_scores_data, medical_student_ids)]
with conn.cursor() as cursor:
    cursor.executemany(test_scores_query, test_scores_data_with_id)

# Inserting data into the maslach_burnout_inventory table
maslach_burnout_inventory_data = dfmm[['mbi_ex', 'mbi_cy', 'mbi_ea']].values.tolist()
maslach_burnout_inventory_query = "INSERT INTO maslach_burnout_inventory (mbi_ex, mbi_cy, mbi_ea, medical_student_id) VALUES (%s, %s, %s, %s)"
maslach_burnout_inventory_data_with_id = [(data + [student_id]) for data, student_id in zip(maslach_burnout_inventory_data, medical_student_ids)]
with conn.cursor() as cursor:
    cursor.executemany(maslach_burnout_inventory_query, maslach_burnout_inventory_data_with_id)

In [161]:
# Testing the tables
# Defining a function test the tables
def execute_query(query):
    with conn.cursor() as cursor:
        cursor.execute(query)
        result = cursor.fetchall()
    return result

# Testing if the medical_student table was populated
medical_student_query = "SELECT * FROM medical_student"
medical_student_data = execute_query(medical_student_query)
print("Medical Student table data:")
print(pd.DataFrame(medical_student_data))

# Testing if the test_scores table was populated
test_scores_query = "SELECT * FROM test_scores"
test_scores_data = execute_query(test_scores_query)
print("\nTest Scores table data:")
print(pd.DataFrame(test_scores_data))

# Testing if the maslach_burnout_inventory table was populated
maslach_burnout_inventory_query = "SELECT * FROM maslach_burnout_inventory"
maslach_burnout_inventory_data = execute_query(maslach_burnout_inventory_query)
print("\nMaslach Burnout Inventory table data:")
print(pd.DataFrame(maslach_burnout_inventory_data))

# Closing the connection
conn.close()

Medical Student table data:
       0   1  2  3    4  5  6   7     8  9
0      1  18  1  1  120  1  0  56  None  3
1      2  26  4  1    1  1  0  20  None  4
2      3  21  3  2    1  0  0  36  None  3
3      4  21  2  2    1  0  1  51  None  5
4      5  21  3  1    1  1  0  22  None  4
..   ...  .. .. ..  ... .. ..  ..   ... ..
881  882  21  2  1    1  1  0  45  None  3
882  883  20  2  2    1  0  0  13  None  3
883  884  19  1  1    1  0  0  50  None  5
884  885  24  5  2    1  0  0  20  None  2
885  886  22  3  1    1  0  1  20  None  5

[886 rows x 10 columns]

Test Scores table data:
       0    1    2     3     4     5         6     7     8
0      1    1  0.0  62.0  27.0  17.0  0.738095  34.0  61.0
1      2    2  0.0  55.0  37.0  22.0  0.690476   7.0  33.0
2      3    3  0.0  64.0  39.0  17.0  0.690476  25.0  73.0
3      4    4  0.0  52.0  33.0  18.0  0.833333  17.0  48.0
4      5    5  0.0  58.0  28.0  21.0  0.690476  14.0  46.0
..   ...  ...  ...   ...   ...   ...       ...   ...   ...
881  882  882  0.0  63.0  39.0  28.0  0.619048  41.0  39.0
882  883  883  0.0  67.0  40.0  21.0  0.809524  26.0  41.0
883  884  884  0.0  50.0  31.0  24.0  0.547619  14.0  45.0
884  885  885  1.0  64.0  39.0  21.0  0.785714  33.0  58.0
885  886  886  0.0  54.0  26.0  25.0  0.571429   5.0  27.0

[886 rows x 9 columns]

Maslach Burnout Inventory table data:
       0    1     2     3     4
0      1    1  17.0  13.0  20.0
1      2    2  14.0  11.0  26.0
2      3    3  24.0   7.0  23.0
3      4    4  16.0  10.0  21.0
4      5    5  22.0  14.0  23.0
..   ...  ...   ...   ...   ...
881  882  882  23.0   4.0  34.0
882  883  883  17.0   5.0  24.0
883  884  884  15.0   8.0  31.0
884  885  885  22.0  15.0  19.0
885  886  886  11.0   9.0  30.0

[886 rows x 5 columns]

# Creating third table cluster (student_stress)

In [162]:
# Now, reconnect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1734680nN",
  database="Student_Mental_Health"
)

# Creating a cursor
mycursor = mydb.cursor()

# Creating stress_student table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS stress_student (
  id INT AUTO_INCREMENT PRIMARY KEY,
  academic_performance INT,
  study_load INT,
  teacher_student_relationship INT,
  future_career_concerns INT
)
""")

# Creating psychological_health table linked to stress_student
mycursor.execute("""
CREATE TABLE IF NOT EXISTS psychological_health (
  id INT AUTO_INCREMENT PRIMARY KEY,
  anxiety_level INT,
  self_esteem INT,
  mental_health_history INT,
  depression INT,
  stress_student_id INT,
  FOREIGN KEY (stress_student_id) REFERENCES stress_student(id)
)
""")

# Creating physiological_health table linked to stress_student
mycursor.execute("""
CREATE TABLE IF NOT EXISTS physiological_health (
  id INT AUTO_INCREMENT PRIMARY KEY,
  headache INT,
  blood_pressure INT,
  sleep_quality INT,
  breathing_problem INT,
  stress_student_id INT,
  FOREIGN KEY (stress_student_id) REFERENCES stress_student(id)
)
""")

# Creating environmental_factors table linked to stress_student
mycursor.execute("""
CREATE TABLE IF NOT EXISTS environmental_factors (
  id INT AUTO_INCREMENT PRIMARY KEY,
  noise_level INT,
  living_conditions INT,
  safety INT,
  basic_needs INT,
  social_support INT,
  peer_pressure INT,
  extracurricular_activities INT,
  bullying INT,
  stress_level INT,
  stress_student_id INT,
  FOREIGN KEY (stress_student_id) REFERENCES stress_student(id)
)
""")
# Committing the changes
mydb.commit()

In [163]:
# Populating the table
# Connecting to my database
conn = pymysql.connect(host='localhost',
                       user='root',
                       password='1734680nN',
                       db='Student_Mental_Health')
# Inserting data into the stress_student table
stress_student_data = dfss[['academic_performance', 'study_load', 'teacher_student_relationship', 'future_career_concerns']].values.tolist()
stress_student_query = "INSERT INTO stress_student (academic_performance, study_load, teacher_student_relationship, future_career_concerns) VALUES (%s, %s, %s, %s)"
with conn.cursor() as cursor:
    cursor.executemany(stress_student_query, stress_student_data)
conn.commit()


# Inserting data into the psychological_health table
psychological_health_data = dfss[['anxiety_level', 'self_esteem', 'mental_health_history', 'depression']].values.tolist()
psychological_health_query = "INSERT INTO psychological_health (anxiety_level, self_esteem, mental_health_history, depression) VALUES (%s, %s, %s, %s)"
with conn.cursor() as cursor:
    cursor.executemany(psychological_health_query, psychological_health_data)
conn.commit()


# Inserting data into the physiological_health table
physiological_health_data = dfss[['headache', 'blood_pressure', 'sleep_quality', 'breathing_problem']].values.tolist()
physiological_health_query = "INSERT INTO physiological_health (headache, blood_pressure, sleep_quality, breathing_problem) VALUES (%s, %s, %s, %s)"
with conn.cursor() as cursor:
    cursor.executemany(physiological_health_query, physiological_health_data)
conn.commit()

# Inserting data into the environmental_factors table
environmental_factors_data = dfss[['noise_level', 'living_conditions', 'safety', 'basic_needs', 'social_support', 'peer_pressure', 'extracurricular_activities', 'bullying', 'stress_level']].values.tolist()
environmental_factors_query = "INSERT INTO environmental_factors (noise_level, living_conditions, safety, basic_needs, social_support, peer_pressure, extracurricular_activities, bullying, stress_level) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
with conn.cursor() as cursor:
    cursor.executemany(environmental_factors_query, environmental_factors_data)
conn.commit()

In [164]:
# Testing to see if the tables were populated correctly
# Testing if the stress_student table was populated
stress_student_query = "SELECT * FROM stress_student"
stress_student_data = execute_query(stress_student_query)
print("Stress Student table data:")
print(pd.DataFrame(stress_student_data))

# Testing if the psychological_health table was populated
psychological_health_query = "SELECT * FROM psychological_health"
psychological_health_data = execute_query(psychological_health_query)
print("\nPsychological Health table data:")
print(pd.DataFrame(psychological_health_data))

# Testing if the physiological_health table was populated
physiological_health_query = "SELECT * FROM physiological_health"
physiological_health_data = execute_query(physiological_health_query)
print("\nPhysiological Health table data:")
print(pd.DataFrame(physiological_health_data))

# Test if the environmental_factors table was populated
environmental_factors_query = "SELECT * FROM environmental_factors"
environmental_factors_data = execute_query(environmental_factors_query)
print("\nEnvironmental Factors table data:")
print(pd.DataFrame(environmental_factors_data))

# Close connection
conn.close()

Stress Student table data:
         0  1  2  3  4
0        1  3  2  3  3
1        2  1  4  1  5
2        3  2  3  3  2
3        4  2  4  1  4
4        5  4  3  1  2
...    ... .. .. .. ..
1095  1096  2  2  2  3
1096  1097  0  1  1  1
1097  1098  5  1  4  1
1098  1099  2  5  1  4
1099  1100  3  4  3  3

[1100 rows x 5 columns]

Psychological Health table data:
         0   1   2  3   4     5
0        1  14  20  0  11  None
1        2  15   8  1  15  None
2        3  12  18  1  14  None
3        4  16  12  1  15  None
4        5  16  28  0   7  None
...    ...  ..  .. ..  ..   ...
1095  1096  11  17  0  14  None
1096  1097   9  12  0   8  None
1097  1098   4  26  0   3  None
1098  1099  21   0  1  19  None
1099  1100  18   6  1  15  None

[1100 rows x 6 columns]

Physiological Health table data:
         0  1  2  3  4     5
0        1  2  1  2  4  None
1        2  5  3  1  4  None
2        3  2  1  2  2  None
3        4  4  3  1  3  None
4        5  2  3  5  1  None
...    ... .. .. .. ..   ...
1095  1096  3  1  3  2  None
1096  1097  0  3  0  0  None
1097  1098  1  2  5  2  None
1098  1099  5  3  1  4  None
1099  1100  3  3  0  3  None

[1100 rows x 6 columns]

Environmental Factors table data:
        0   1   2   3   4   5   6   7   8   9     10
0        1   2   3   3   2   2   3   3   2   1  None
1        2   3   1   2   2   1   4   5   5   2  None
2        3   2   2   3   2   2   3   2   2   1  None
3        4   4   2   2   2   1   4   4   5   2  None
4        5   3   2   4   3   1   5   0   5   1  None
...    ...  ..  ..  ..  ..  ..  ..  ..  ..  ..   ...
1095  1096   2   2   2   3   3   2   3   3   1  None
1096  1097   0   1   3   4   1   3   4   3   2  None
1097  1098   2   3   4   4   3   1   2   1   0  None
1098  1099   3   1   1   1   1   4   4   4   2  None
1099  1100   3   0   4   3   1   5   1   4   2  None

[1100 rows x 11 columns]